
AudioSequenceBuilderDemo.xcodeproj/xcuserdata/dmojdehi.xcuserdatad/xcschemes/xcschememanagement.plist

AudioSequenceBuilderDemo.xcodeproj/xcuserdata/dmojdehi.xcuserdatad/xcschemes/AudioSequenceBuilderDemo.xcscheme

AudioSequenceBuilderDemo.xcodeproj/project.xcworkspace/xcuserdata/dmojdehi.xcuserdatad/UserInterfaceState.xcuserstate

AudioSequenceBuilderDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata

AudioSequenceBuilderDemo.xcodeproj/project.xcworkspace/xcuserdata/dmojdehi.xcuserdatad/WorkspaceSettings.xcsettings

AudioSequenceBuilderDemo.xcodeproj/xcuserdata/dmojdehi.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
